<html>
<head>
    <title> A MeanAngular App! </title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Load the angular.js code -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <!-- Load UI Router -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <!-- Load the app.js file -->
  <script src="angularApp.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
  <!-- Load the app module and the main controller. -->

<body ng-app="MEANNews">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

<!-- In order to activate the home route/template, I must use the ui-view marker to indicate where it goes: -->
<ui-view></ui-view>

    </div>
  </div>

<!-- Make sure to place the following script right before the body tag, before inserting the desired template-route. Always put the other end of the SCRIPT tag at the end of the route!-->

<!-- This is an inline template-route for HOME -->
<script type="text/ng-template" id="/home.html">

  <div class="page-header">
    <h1>MEAN News</h1>
  </div>

  <div ng-repeat="post in posts | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
    {{post.upvotes}}

    <span style="font-size:20px; margin-left:10px;">
      <!-- When the ng=show expression resolves to TRUE, then the associated tag will show. -->
      <!-- The href is the destination link, while the value before the final </a> is what will display to be clicked, and link to it. -->
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </span>

    <!--Now add a link to all the rich comments we are connecte to through the posts template and posts controller.: -->
    <span>
  <a href="#/posts/{{$index}}">Comments</a>
</span>
  </div>

  <form ng-submit="addPost()"
    style="margin-top:30px;">
    <h3>Add a new post</h3>

    <div class="form-group">
      <input type="text"
        class="form-control"
        placeholder="Title"
        ng-model="title"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Link"
      ng-model="link"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
</script>

<script type="text/ng-template" id="/posts.html">
  <div class="page-header">
    <h3>
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </h3>
  </div>

  <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up"
      ng-click="incrementUpvotes(comment)"></span>
    {{comment.upvotes}} - by {{comment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
  </div>

  <!-- post template -->

  <form ng-submit="addComment()"
    style="margin-top:30px;">
    <h3>Add a new comment</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Comment"
      ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
  
</script>

</body>
</html>